<div class="view-wrapper">
  <div class="home-wrapper">
    <div class"button-wrapper">
      <a href="/search" class="button-link"><button class="main-button">Find Streamflow Sites</button></a>
    </div>
    <div class"button-wrapper" ng-if="!loggedIn">
      <a href="/login" class="button-link"><button class="main-button">Login</button></a>
    </div>
    <div class"button-wrapper" ng-if="loggedIn">
      <a href="/home" ng-click="logout()" class="button-link"><button class="main-button">Logout</button></a>
    </div>

  </div>

</div>