<div class="view-wrapper">
  <div class="home-wrapper">
    <h3 class="home_label">Find Streamflow conditions at a USGS site near you!</h3>
    <div class"button-wrapper">
      <a href="/search" class="button-link"><button class="main-button">Search By Address</button></a>
    </div>
    <div class"button-wrapper">
      <a href="/find" class="button-link"><button class="main-button">Find Near Me</button></a>
      <h4>(Allow the browser to use your current location.)</h4>
    </div>

  </div>

</div>