<div class="view-wrapper">
  <div class="login-wrapper">
    <form class="text-input-form" ng-model="login">
      <strong>Username</strong>
      <input type="text" id="username" ng-model="login.username"><br>
      <strong>Password</strong>
      <input type="password" id="password" ng-model="login.password"><br>
      <button class="login-button" href='/home'ng-click="loginCtrl.getLoginData(login)">Login</button>
    </form>
  </div>
  <h4>OR</h4>
  <div class"button-wrapper">
    <a href="/join" class="button-link"><button class="main-button">Join</button></a>
  </div>
</div>