<div class="view-wrapper">
  <div class="login-wrapper">
    <form class="login-form" ng-model="login">
      <strong>Username</strong>
      <input type="text" id="username" ng-model="login.username"><br>
      <strong>Password</strong>
      <input type="text" id="password" ng-model="login.password"><br>
      <button type="submit" class="login-button" ng-click="loginCtrl.getLoginData(login)">Login</button>
    </form>
  </div>
  <h4>OR if you have not signed up</h4>
  <div class"button-wrapper">
    <a href="/join" class="button-link"><button class="main-button">Join</button></a>
  </div>
</div>