<div class="view-wrapper">
  <div class="results-container" ng-repeat="site in siteList" ng-if="siteList.length">
    <div class="site-card">
      <div class="site-distance" ng-if="site.distFromOrigin">{{site.distFromOrigin}} mi</div>
      <div class="site-id">{{site.site_name}}</div>
      <div class="site-params" ng-repeat="parameter in site.parameterArray">
        <div class='site-parameter'>{{parameter.param_name}}
        {{parameter.value}} {{parameter.param_unit}}
        </div>
      </div>
    </div>
  </div>
  <span ng-if="noSites">You have not yet saved USGS gaging stations to your Site List.</span>
</div>